* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1opx;
    font-family: monospace;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 40rem 1fr;
    grid-template-rows: 1fr;
}

main section {
    border: 1px solid black;
}